<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Find the best & healthy restaurants just one click. Try it now!"
    />
    <title>SunnyFood</title>

    <!-- Custom fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <a href="#main-content" class="skip-link">Go to Main Content</a>

    <!-- HEADER -->
    <header>
      <div class="row">
        <div class="mobile-nav-wrapper">
          <img
            src="/images/logo-removebg-preview.png"
            alt="SunnyFood Logo"
            class="app-logo-mobile"
          />
          <button class="ham-icon">☰</button>
        </div>

        <div class="nav-wrapper">
          <img
            src="/images/logo-removebg-preview.png"
            alt="SunnyFood Logo"
            class="app-logo"
          />
          <nav id="navigationDrawer" class="main-nav">
            <ul>
              <li>
                <a class="nav-link" href="#/restaurants">Home</a>
              </li>
              <li>
                <a class="nav-link" href="#/favorites">Favorites</a>
              </li>
              <li>
                <a
                  class="nav-link"
                  href="https://github.com/handa26"
                  target="_blank"
                  rel="noopener"
                >
                  About Us
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="hero-text-box">
        <h1>
          Find Healthy Restaurants
          <br />
          At
          <br />
          SunnyFood.
        </h1>
        <div class="holder clip">
          <div class="circle circle1"></div>
          <div class="circle circle2"></div>
        </div>
      </div>
    </header>

    <main id="main-content">
      <section class="section-about">
        <div class="row">
          <div class="about-wrapper">
            <div class="about-img">
              <img src="/images/plates-of-food.jpg" alt="" />
            </div>
            <div class="about-txt">
              <h2 tabindex="0">
                Simple Way of
                <br />
                Eating Healthy
              </h2>
              <p tabindex="0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                sit amet vehicula justo. Etiam eget scelerisque magna.
                Suspendisse lacinia tempus nisi eget egestas. Fusce sed dolor
                vitae lectus suscipit varius et eget neque. Nulla facilisi.
                Curabitur pellentesque hendrerit felis vitae tempor.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-restaurants">
        <div class="row">
          <h2>Restaurants Available</h2>
        </div>
        <div class="row">
          <div class="box-wrapper"></div>
        </div>
      </section>
    </main>

    <footer>
      <div class="row">
        <p tabindex="0">
          Copyright &copy; 2021 by SunnyFood. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
